body{
    margin:0;
    font-size: 16px;
    background-size: 100%;
  }
  
  div{
    position:relative;
    box-sizing:border-box;
    padding: 20px;
  }
  .container{
    width:100%;
    min-height: 100vh;
    padding:0;                    
  }
  
  .container:after{
    content: '';
    clear: both;
    display: table;
  }
  
  .container>div{
    float: left;
    height: auto;
  }
  
  .headImage {
    width: 100%;
  }
  
  .character-list{
    width: 100%;
    overflow: auto;
    background-size: cover;
  }
  
  .one-character{
    width: 100%;
    background: #222;
    color: #e3e3e3;
  }
  
  .searchbar{
    position: relative;
    width: 90%;
  }
  
  #search-text,
  #search-button {
    line-height: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #e3e3e3
  }
  
  #search-text {
   width:150px;
   outline: none;
   float: right;
  }
  
  #search-button{
    color: #e3e3e3;
    background: transparent;
    outline: none;
  }
  
  #search-button:hover{
    cursor: pointer;
  }

  .one-character{
    color: #fff;
  }

  .characters{
      width: 12.5%;
      float: left;
      box-sizing: border-box;
      height: 25%;
      text-align: center;
  }
  .logo{
      background-image : url('/assets/downloaded/got-logo.png');
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center;
  }
  .side-picture{
      width: 300px;
      text-align: center;
  }
  .house-icon{
      float: right;
      margin-right: 4px;
      width: 30px;
  }
  @media(min-width:1200px){
    .character-list{
      width: 75%;
    }
  
    .one-character{
      width: 25%;
    }
  
    .container>div{
      height: 100vh;
    }
    
    .searchbar{
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }
  